<h1 class="sp-text-heading-1">{{ title }}</h1>

<!-- IF / ELSE -->
@if (showMessage) {
<p>✅ Este es un mensaje visible porque showMessage = true</p>
} @else {
<p>❌ Mensaje oculto porque showMessage = false</p>
}

<hr>

<!-- FOR -->
<h3>Frameworks Frontend</h3>
<ul>
  @for (item of items; track item) {
  <li>{{ item }}</li>
  }
</ul>

<hr>

<!-- SWITCH -->
<h3>Ejemplo Switch</h3>
@switch (option) {
@case (1) {
<p class="sp-text-caption">Opción 1 seleccionada</p>
}
@case (2) {
<p class="sp-text-caption">Opción 2 seleccionada</p>
}
@default {
<p class="sp-text-caption">Ninguna opción válida</p>
}
}


<h3>Test componentes sherpa:</h3>
<sp-at-alert type="SUCCESS" alert-title="Título" description="Descripción" close-button=false>
</sp-at-alert>

<sp-ml-card-ending description="Descripción"></sp-ml-card-ending>
