<sp-ml-header back='TRUE' close='TRUE' icon-secundary="" label-secundary="" icon-tertiary=""
  label-tertiary=""></sp-ml-header>

<div class="content">
  <section class="content-description">
    <label class="description-label sp-text-tag">TERMINOS Y CONDICIONES</label>
    <h1 class="description-title sp-text-kiffo-heading-3">Conoce y acepta los documentos</h1>

    <label class="description-resume sp-text-paragraph-m">
      Revisa detenidamente los documentos relacionados con tu solicitud. Al aceptar, confirmas que los has leído y estás
      de acuerdo con ellos.
    </label>
  </section>

  <sp-ml-accordion class="documents">
    <sp-at-accordion-item icon-name='ico-document-check' title-label="Pagaré" true>
    </sp-at-accordion-item>

    <sp-at-accordion-item icon-name='ico-bank-references' title-label="Carta instrucciones pagaré" true>
    </sp-at-accordion-item>

    <sp-at-accordion-item icon-name='ico-documents-services' title-label="Declaración de recursos" true>
    </sp-at-accordion-item>
  </sp-ml-accordion>

  <sp-at-check-button class="check-terms" id="check" [valuesToCheck]='arrCheckBox'>
  </sp-at-check-button>

  <button class='next-btn  sp-at-btn sp-at-btn--primary sp-at-btn--lg'>
    Continuar
  </button>

</div>
