.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:focus {
  outline: none !important;
  box-shadow: none !important;
}

.content {
  max-width: 568px;
  margin: var(--sp-spacing-8) auto;
}

.content-description {
  display: flex;
  flex-direction: column;
  gap: var(--sp-spacing-3);
  margin-bottom: var(--sp-spacing-8);
}

.description-label,
.description-resume {
  color: var(--sp-carbon-800);
}

.documents {
  display: block;
  margin-bottom: var(--sp-spacing-6);
}

.check-terms {
  display: block;
  margin-bottom: var(--sp-spacing-8);
}

.grupo-check,
.check-text {
  display: flex;
}

.grupo-check {
  gap: var(--sp-spacing-2);
}
.check-text {
  height: fit-content;
  align-content: center;
  align-items: center;
}

.link {
  margin-left: var(--sp-spacing-1);
}

.next-btn {
  max-width: 136px;
}
